<%= render current_user.lists %>

<aside class="col-sm-3" id="new-list-link-container">
<p>
  <%= link_to 'New list', new_list_path, class: "btn btn-default", id: "new-list", remote: true %>
</p>
</aside>

<br>
