@import "bootstrap-sprockets";
@import "bootswatch/cerulean/variables";
@import "bootstrap";

body {
  padding-top: 51px;
}

#app-body {
  padding-left: 0px;
}

.sidebar {
  background-color: gainsboro;
  height: 92vh;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

#home {
  background-color: floralwhite;
}

#create-list {
  position: absolute;
  bottom: 0;
}

.navbar-brand a {
  color: white;
}

@import "bootswatch/cerulean/bootswatch";
@import "lists";
@import "tasks";
